body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-main{
  margin-left:300px
}

.w3-light-grey{
max-width:1600px
}

.w3-row-padding{
  max-width: inherit;
  max-height: inherit;
}

img{
  height: 100%;
  width: 100%;
  display:inline-table;

}
.w3-grey{

}
.m6{
  display: flex;
}
